body{
    background-color: #6d0b0b;
    font-family: Kanit;
}

.page { 
    position: fixed; 
    top: 0; 
    display:flex;
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 50px; 
    background-color: #463131; 
    text-align: center;
    font-family: Kanit;
    margin: 0;
    
}



@media(max-width:768px){
    .content h1,.left-sidebar a,.right-sidebar h2 {
        font-size: 1em;
    } 
}
@media (max-width: 770px) {
    .container {
        flex-direction: column;
        align-items: center; /* Pour centrer les éléments au milieu de la page */
    }

    .left-sidebar, .content, .right-sidebar {
        width: 100%; /* Chaque élément prendra la pleine largeur */
        margin-bottom: 20px; /* Espacement entre les éléments */
    }
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    
    color: white;
    align-self: center;
    height: 50px;
    background-color: #141313;
    display: flex;
    justify-content: center;
    align-items: center;
}


.baniere:hover {
    background-color:#050505;
    color: whitesmoke;
}



nav{
    width: 100%;
    position: sticky;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1px;
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    width: 150px;
}

nav a:hover{
    color: rgb(46, 33, 10);
    border-bottom: 2px solid rgb(228, 62, 62);
}







/* Left Sidebar */
.left-sidebar {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
    flex: auto;
}

.left-sidebar h2 {
    
    margin-bottom: 10px;
}

.left-sidebar ul {
    list-style: none;
}

.left-sidebar ul li {
    margin-bottom: 10px;
}

.left-sidebar ul li a {
    color: #333;
    text-decoration: none;
}




/* Content */
.content {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
}

.content h1 {
    
    margin-bottom: 10px;
}

.content p {
    font-size: 1em;
}

.games-container {
    width: 90%;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.game {
    background-color: #bfbfbf;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.game img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.game h2 {
    color: #2f2f2f; /* couleur blanche */
    font-size: 18px;
    margin: 10px 0;
}

.game:hover{
    box-shadow: 0 0 15px rgba(0, 183, 79, 0.75);
 /*   background-color: #2f2f2f;*/
}

.game p {
    color: #3e9143;
    font-size: 14px;
    margin: 10px 0;
}

.game-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

/* Right Sidebar */
.right-sidebar {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.right-sidebar h2 {
    
    margin-bottom: 10px;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Alignez les éléments au bas du pied de page */
}

.site-map, .legal-info {
    width: 48%;
    margin-bottom: 20px;
}

.site-map h2, .legal-info h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}